@import 'tailwindcss';

@theme inline {
  --color-analogous-1: #3f8bb5;
  --color-analogous-2: #3f50b5;
  --color-analogous-3: #593fb5;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-complimentary: #aaf400;
  --color-error: #f44336;
  --color-green: #4caf50;
  --color-info: #2196f3;
  --color-inherit: inherit;
  --color-monochromatic-darkest: #1a214c;
  --color-monochromatic-darker: #283271;
  --color-monochromatic-dark: #354397;
  --color-monochromatic-light: #6876ca;
  --color-monochromatic-lighter: #8e98d7;
  --color-monochromatic-lightest: #b3bae5;
  --color-primary: #3f50b5;
  --color-red: #f44336;
  --color-secondary: #eeeeee;
  --color-shade-darkest: #030303;
  --color-shade-darker: #161616;
  --color-shade-dark: #2a2a2a;
  --color-shade: #3e3e3e;
  --color-shade-light: #515151;
  --color-shade-lighter: #656565;
  --color-shade-lightest: #767676;
  --color-split-complementary-1: #3f50b5;
  --color-split-complementary-2: #8bb53f;
  --color-split-complementary-3: #b5693f;
  --color-success: #4caf50;
  --color-tetradic-1: #3f50b5;
  --color-tetradic-2: #b53f50;
  --color-tetradic-3: #b5a43f;
  --color-tetradic-4: #3fb5a4;
  --color-tint-darkest: #828282;
  --color-tint-darker: #969696;
  --color-tint-dark: #aaaaaa;
  --color-tint: #bdbdbd;
  --color-tint-light: #d1d1d1;
  --color-tint-lighter: #e4e4e4;
  --color-tint-lightest: #f8f8f8;
  --color-triadic-1: #3f50b5;
  --color-triadic-2: #50b53f;
  --color-triadic-3: #b53f50;
  --color-warning: #ff9800;
  --color-white: #ffffff;
  --font-size-xxs: 0.5rem;
  --text-shadow-lg: 0 8px 16px var(--tw-shadow-color);
  --text-shadow-sm: 0 1px 2px var(--tw-shadow-color);
  --text-shadow: 0 2px 4px var(--tw-shadow-color);
}

html {
  font-family: var(--font-roboto);
}
